h1 {
    font-size: 60px;
    color: rgb(184, 14, 14)};
}
h3{
    font-size: 30px;
}
.familiaTexto{
font-family: "papyrus";
font-size: 15px;
color: #131EF7;
text-align: justify;
}
.bodyprincipal{
    background-color: rgba(48, 47, 47, 0.39);
}

.headerprincipal{
    background-color: green;
    }
.headerpagina1{
    background-color: blue;
}
.imagenfondo{
    background-image: url(img/medellin.jpg);
    height: 640px;
    float: 640px;
    background-attachment: fixed;
}
.textorojo{
    color: red;
}