h1 {
    font-size: 60px;
    color: rgb(184, 14, 14)};
}
h3{
    font-size: 30px;
}
.familiaTexto{
font-family: "papyrus";
font-size: 15px;
color: #131EF7;
text-align: justify;
}
body{
    background-color: rgb(207, 99, 22);
}